PORT=5000
MONGODB_URI=mongodb+srv://fshehan2004_db_user:YOUR_PASSWORD@cluster0.pfj9nyr.mongodb.net/fernandotechall?retryWrites=true&w=majority
JWT_SECRET=your-super-secret-random-string-here
CLIENT_ORIGIN=http://localhost:5173
OPENAI_API_KEY=your-openai-api-key
PAYPAL_CLIENT_ID=AYlzG99e_kJuCXTRCRkdxVBh4Cnh7A0QT1YdxTXoKKzgYI6yJNdcvmsek3Y7H4kzwr2QuVR8W43saFL2
PAYPAL_CLIENT_SECRET=EOvo1QwBNdaiknK-7G2Za4H6tqn40yePKgPXEgnlwePlsDA-GSJVydk-v6XUQk3ZY5qIBYh8tUx5yYqa
PAYPAL_SANDBOX=true

